---
// Supports weights 100-900
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Eduardo Cabanillas - Resume</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* 2024 CSS Reset */
  * {
    /* Include padding and border in size calculation. */
    box-sizing: border-box;
    /* Prevent grid and flex items form spilling out of their container. */
    min-width: 0;
  }

  body {
    /* Ensure that the body fills the entire viewport. */
    min-height: 100dvh;
  }

  h1,
  h2,
  h3,
  h4 {
    /* Balance headings across multiple lines into an even block. */
    text-wrap: balance;
  }

  p {
    /* Prevent text orphans (single words on last line). */
    text-wrap: pretty;
  }
  /* 2024 CSS Reset */

  html {
    background-color: #fff;
    letter-spacing: 0.025rem;
    font-family:
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      Liberation Mono,
      Courier New,
      monospace;
  }

  body,
  figure {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    text-wrap: pretty;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family:
      Inter,
      system-ui,
      -apple-system;
    color: #030712;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    color: #030712cc;
    font-family:
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      Liberation Mono,
      Courier New,
      monospace;
  }
</style>
